<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118784170171-m06i1mb28m62acenq9kg3d1kuse7a2c7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118784170171-m06i1mb28m62acenq9kg3d1kuse7a2c7</string>
	<key>API_KEY</key>
	<string>AIzaSyCM8wMYBiy9UZi3bOMrafBXYdKMUiUpsTc</string>
	<key>GCM_SENDER_ID</key>
	<string>118784170171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.edu.puccampinas.appdoaluno</string>
	<key>PROJECT_ID</key>
	<string>app-aluno-puc</string>
	<key>STORAGE_BUCKET</key>
	<string>app-aluno-puc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118784170171:ios:e491c6d3c9c3b02ddb719e</string>
</dict>
</plist>